body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

main {
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
}

#total_happiness {
    display: grid;
    grid-template-columns: auto auto;
}

#product_happiness {
    border: solid 2px darkgray;
    border-radius: 10px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rating_img {
    width: 30%;
    padding: 10%;
    padding-bottom: 10px;
}

#sort_buttons {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: end;
    margin-top: 10px
}

#sort_buttons>p {
    text-align: right;
    margin-right: 5px;
}

button {
    background-color: #28a1e1;
    border: 5px solid #28a1e1;
    border-radius: 10px;
    color: white;
    margin: 5px;
}

.disabled {
    background-color: #7dabc5;
    border: 5px solid #7dabc5;
    border-radius: 10px;
    color: white;
    margin: 5px;
}

.product_my_review {
    display: grid;
    grid-template-columns: 20% 40% 30%;
    gap: 5%;
}

.stars_product {
    display: flex;
    flex-flow: column;
    justify-content: center;
    text-align: center;
}

.stars {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;

}

.star {
    width: 45%;
}

.star_left {
    margin-right: 0;
    padding-right: 0;
    border-right: 0;
}

.star_right {
    margin-left: 0;
    padding-left: 0;
    border-left: 0;
}

.star_whole {
    display: flex;
    flex-flow: row;
}

.star_whole:has(.star:hover)~.star_whole .star_left {
    content: url("img/Half_Empty_Star_Left.webp");
}

.star_whole:has(.star:hover)~.star_whole .star_right {
    content: url("img/Half_Empty_Star_Right.webp");
}

.star_whole:has(.star_left:hover) .star_right {
    content: url("img/Half_Empty_Star_Right.webp");
}

.star_whole:has(~.star_whole .star:hover) .star_left {
    content: url("img/Half_Full_Star_Left.webp");
}

.star_whole:has(~.star_whole .star:hover) .star_right {
    content: url("img/Half_Full_Star_Right.webp");
}

.star_right:hover {
    content: url("img/Half_Full_Star_Right.webp");
}

.star_left:hover {
    content: url("img/Half_Full_Star_Left.webp");
}

.star_whole:has(.star_right:hover) .star_left {
    content: url("img/Half_Full_Star_Left.webp");
}

.product_img {
    width: 100%;
    max-height: 100%;
    place-self: center;
}

.product {
    border: solid 2px darkgray;
    border-radius: 10px;
    padding: 5px;
    margin-top: 10px;
}

.add_review {
    padding: 10px;
}

.write_review {
    width: 100%;
    resize: vertical;
    border-color: #28a1e1;
    border-radius: 5px;
    border-width: 1px;
}

#load_more {
    margin-left: 40%;
    margin-right: 40%;
    width: 20%;
}

aside {
    position: fixed;
    right: 0;
    top: 0;
    width: 35vw;
    height: 100vh;
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
    visibility: visible;
    overflow-y: auto;
    z-index: 100;
}

.hidden {
    display: none;
}

#product_info_reviews {
    border: solid 2px darkgray;
    border-radius: 10px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

#product_info_reviews> p {
 margin: 10px;
}

.review {
    display: grid;
    grid-template-columns: 15% 60% 15%;
    grid-template-rows: 50% 50%;
    gap: 5%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.user_review {
    grid-column: 1/3;
    overflow-y: auto;
}

.heart {
    place-self: end;
}

.user_icon {
    place-self: center;
    border-radius: 50%;
    border: 1px solid #28a1e1;
    width: 100%;
}

#aside_background {
    background-color: darkgrey;
    opacity: 50%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 99;
}
